# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

.env
.env.local
./frontend/.env
./frontend/.env.local
./frontend/node_modules
./frontend/package-lock.json
.frontend/pnpm -lock.yaml
./frontend/pnpm-workspace.yaml